<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Photographer | Garvit Arya (About)</title>
	<meta name="description" content="Photographer's business card website" />
	<meta name="keywords" content="photography, effects, gallery" />
	<meta name="author" content="Garvit Arya" />
	<link rel="shortcut icon" href="../images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../css/flickity.css" />
	<link rel="stylesheet" type="text/css" href="../css/main.css" />
	<script src="../js/modernizr.custom.js"></script>
</head>
<body>
	<div class="container">
		<div class="hero">
			<div class="hero__back hero__back--static"></div>
			<div class="hero__back hero__back--mover"></div>
			<div class="hero__front"></div>
		</div>
		<header class="codrops-header">
			<h1 class="codrops-title"><img src="../images/mylogo.png" height="150" /></h1>
			<nav class="menu">
				<a class="menu__item menu__item--current" href="about.html"><span>About</span></a>
				<a class="menu__item" href="../index.html"><span>Work</span></a>
				<a class="menu__item" href="contact.html"><span>Contact</span></a>
			</nav>
		</header>
		<div class="stack-slider" style="top: -40%;">
            <div class="info" style="margin-left: -5%; text-align: center; margin-right: 8%;"><br />
                <h1 style="color: #ef5350;"><u>Some Interesting Information About Me</u></h1><br />
                <div style="width: 800px; margin-left: 17%;"><h3>
                What kind of photographer am I? I always say I'm a nature photographer, but when it comes down to it... I love it all! <br /><br />
                Since I was a boy I've always been attracted by photography's world, any kind, and by how a simple photo managed to stir up in me emotions or impress memories in my mind.<br /><br />
                I am a interesting mix of analytic process and creative fire that fuels my drive to learn more and grow constantly.<br /><br />
                Sometimes torn between the roles of the fabricator and observer, I bring to any endeavor the perfect mix of the creativity and practicality.<br /><br />
                I thrive in creative and collaborative environments where hard work and passion for taking great pictures is valued.
                </h3></div>
            </div>
			<div class="stacks-wrapper" style="height: 0%;"></div>
		</div>
	</div>
	<script src="../js/flickity.pkgd.min.js"></script>
	<script src="../js/smoothscroll.js"></script>
	<script src="../js/main.js"></script>
</body>
</html>