<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Photographer | Garvit Arya (Contact)</title>
	<meta name="description" content="Photographer's business card website" />
	<meta name="keywords" content="photography, effects, gallery" />
	<meta name="author" content="Garvit Arya" />
	<link rel="shortcut icon" href="../images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/flickity.css" />
	<link rel="stylesheet" type="text/css" href="../css/main.css" />
	<script src="../js/modernizr.custom.js"></script>
</head>
<body>
	<div class="container">
		<div class="hero">
			<div class="hero__back hero__back--static"></div>
			<div class="hero__back hero__back--mover"></div>
			<div class="hero__front"></div>
		</div>
		<header class="codrops-header">
			<h1 class="codrops-title"><img src="../images/mylogo.png" height="150" /></h1>
			<nav class="menu">
				<a class="menu__item" href="about.html"><span>About</span></a>
				<a class="menu__item" href="../index.html"><span>Work</span></a>
				<a class="menu__item menu__item--current" href="contact.html"><span>Contact</span></a>
			</nav>
		</header>
		<div class="stack-slider" style="top: -40%;">
            <div class="info" style="margin-left: -5%; text-align: center; margin-right: 8%;"><br />
                <h1 style="color: #ef5350;"><u>Feel that tingling in your fingertips?<br />That's the magnetic urge to contact ME ;)</u></h1><br />
                
<table style="margin-left: 35%; text-align: left; font-size: 160%; ">							
                                <tr><td><i class="fa fa-user"></i></td><td><span>&nbsp;&nbsp; GARVIT ARYA</span></td></tr>
                                <tr><td><i class="fa fa-mobile-phone"></i></td><td><span>&nbsp;&nbsp; +91 8800652456</span></td></tr>
                                <tr><td><i class="fa fa-github"></i></td><td><span>&nbsp;&nbsp; github.com/garvitarya</span></td></tr>
								<tr><td><i class="fa fa-envelope"></i></td><td><span>&nbsp;&nbsp; garvitarya1994@gmail.com</span></td></tr>
                                <tr><td><i class="fa fa-linkedin-square"></i></td><td><span>&nbsp;&nbsp; www.linkedin.com/in/garvitarya</span></td></tr>
								
</table>
                
            </div>
			<div class="stacks-wrapper" style="height: 0%;"></div>
		</div>
	</div>
	<script src="../js/flickity.pkgd.min.js"></script>
	<script src="../js/smoothscroll.js"></script>
	<script src="../js/main.js"></script>
</body>
</html>